In [0]:
dbutils.widgets.dropdown("environment", "prd", ["prd"], "1-Environment")
env = dbutils.widgets.get("environment")

# dim marketing

In [0]:
query = f"""
CREATE OR REPLACE TABLE {env}_gold.entertainment.dim_market (
    id   STRING    NOT NULL PRIMARY KEY,
    name STRING    NOT NULL
);
"""
spark.sql(query)

DataFrame[]

In [0]:
query = f"""
MERGE INTO {env}_gold.entertainment.dim_market AS target
USING (
    SELECT *
    FROM (
        SELECT DISTINCT
            id,
            name
        FROM {env}_silver.event.market
        UNION ALL
        SELECT
            '' AS id,
            '' AS name
    )
) AS source
ON target.id = source.id

WHEN MATCHED THEN UPDATE SET
    target.name = source.name

WHEN NOT MATCHED THEN INSERT (id, name)
VALUES (source.id, source.name);
"""
spark.sql(query)

DataFrame[num_affected_rows: bigint, num_updated_rows: bigint, num_deleted_rows: bigint, num_inserted_rows: bigint]

# dim_promoter

In [0]:
query = f"""
CREATE OR REPLACE TABLE {env}_gold.entertainment.dim_promoter (
    id   STRING    NOT NULL PRIMARY KEY,
    name STRING    NOT NULL,
    description   STRING
);
"""
spark.sql(query)

DataFrame[]

In [0]:
query = f"""
MERGE INTO {env}_gold.entertainment.dim_promoter AS target
USING (
    SELECT *
    FROM (
        SELECT DISTINCT
            id           AS id,
            name         AS name,
            description  AS description
        FROM {env}_silver.event.promoter
        UNION ALL
        SELECT
            '' AS id,
            '' AS name,
            '' AS description
    )
) AS source
ON target.id = source.id

WHEN MATCHED THEN UPDATE SET
    target.name = source.name,
    target.description   = source.description

WHEN NOT MATCHED THEN INSERT (id, name, description)
VALUES (source.id, source.name, source.description);
"""
spark.sql(query)

DataFrame[num_affected_rows: bigint, num_updated_rows: bigint, num_deleted_rows: bigint, num_inserted_rows: bigint]

# dim_venue

In [0]:
query = f"""
CREATE OR REPLACE TABLE {env}_gold.entertainment.dim_venue (
    id                 STRING   NOT NULL PRIMARY KEY,
    name               STRING,
    locale                   STRING,
    postal_code              STRING,
    timezone                 STRING,
    city                     STRING,
    state                    STRING,
    state_code               STRING,
    country                  STRING,
    country_code             STRING,
    address                  STRING,
    longitude                DOUBLE,
    latitude                 DOUBLE,
    upcoming_events_archtics INT,
    upcoming_events_ticketmaster INT,
    upcoming_events_total    INT,
    upcoming_events_filtered INT,
    url                      STRING,
    twitter_handle           STRING,
    box_office_open_hours    STRING,
    box_office_accepted_payment STRING,
    box_office_will_call     STRING,
    parking_detail           STRING,
    accessible_seating_detail STRING,
    general_rule             STRING,
    child_rule               STRING,
    ada_phones               STRING,
    ada_custom_copy          STRING,
    ada_hours                STRING
);
"""
spark.sql(query)

DataFrame[]

In [0]:
query = f"""
MERGE INTO {env}_gold.entertainment.dim_venue AS target
USING (
    SELECT *
    FROM (
        SELECT 
            id,
            name,
            locale,
            postal_code,
            timezone,
            city,
            state,
            state_code,
            country,
            country_code,
            address,
            CAST(longitude AS DOUBLE) AS longitude,
            CAST(latitude AS DOUBLE) AS latitude,
            CAST(upcoming_events_archtics AS INT) AS upcoming_events_archtics,
            CAST(upcoming_events_ticketmaster AS INT) AS upcoming_events_ticketmaster,
            CAST(upcoming_events_total AS INT) AS upcoming_events_total,
            CAST(upcoming_events_filtered AS INT) AS upcoming_events_filtered,
            url,
            twitter_handle,
            box_office_open_hours,
            box_office_accepted_payment,
            box_office_will_call,
            parking_detail,
            accessible_seating_detail,
            general_rule,
            child_rule,
            ada_phones,
            ada_custom_copy,
            ada_hours,
            ROW_NUMBER() OVER (PARTITION BY id ORDER BY name DESC) AS rn
        FROM {env}_silver.event.venues
        UNION ALL
        SELECT
            '' AS id,
            '' AS name,
            '' AS locale,
            '' AS postal_code,
            '' AS timezone,
            '' AS city,
            '' AS state,
            '' AS state_code,
            '' AS country,
            '' AS country_code,
            '' AS address,
            CAST(NULL AS DOUBLE) AS longitude,
            CAST(NULL AS DOUBLE) AS latitude,
            CAST(NULL AS INT) AS upcoming_events_archtics,
            CAST(NULL AS INT) AS upcoming_events_ticketmaster,
            CAST(NULL AS INT) AS upcoming_events_total,
            CAST(NULL AS INT) AS upcoming_events_filtered,
            '' AS url,
            '' AS twitter_handle,
            '' AS box_office_open_hours,
            '' AS box_office_accepted_payment,
            '' AS box_office_will_call,
            '' AS parking_detail,
            '' AS accessible_seating_detail,
            '' AS general_rule,
            '' AS child_rule,
            '' AS ada_phones,
            '' AS ada_custom_copy,
            '' AS ada_hours,
            1 AS rn
    )
    WHERE rn = 1
) AS source
ON target.id = source.id

WHEN MATCHED THEN UPDATE SET
    target.name = source.name,
    target.locale = source.locale,
    target.postal_code = source.postal_code,
    target.timezone = source.timezone,
    target.city = source.city,
    target.state = source.state,
    target.state_code = source.state_code,
    target.country = source.country,
    target.country_code = source.country_code,
    target.address = source.address,
    target.longitude = source.longitude,
    target.latitude = source.latitude,
    target.upcoming_events_archtics = source.upcoming_events_archtics,
    target.upcoming_events_ticketmaster = source.upcoming_events_ticketmaster,
    target.upcoming_events_total = source.upcoming_events_total,
    target.upcoming_events_filtered = source.upcoming_events_filtered,
    target.url = source.url,
    target.twitter_handle = source.twitter_handle,
    target.box_office_open_hours = source.box_office_open_hours,
    target.box_office_accepted_payment = source.box_office_accepted_payment,
    target.box_office_will_call = source.box_office_will_call,
    target.parking_detail = source.parking_detail,
    target.accessible_seating_detail = source.accessible_seating_detail,
    target.general_rule = source.general_rule,
    target.child_rule = source.child_rule,
    target.ada_phones = source.ada_phones,
    target.ada_custom_copy = source.ada_custom_copy,
    target.ada_hours = source.ada_hours

WHEN NOT MATCHED THEN INSERT (
    id,
    name,
    locale,
    postal_code,
    timezone,
    city,
    state,
    state_code,
    country,
    country_code,
    address,
    longitude,
    latitude,
    upcoming_events_archtics,
    upcoming_events_ticketmaster,
    upcoming_events_total,
    upcoming_events_filtered,
    url,
    twitter_handle,
    box_office_open_hours,
    box_office_accepted_payment,
    box_office_will_call,
    parking_detail,
    accessible_seating_detail,
    general_rule,
    child_rule,
    ada_phones,
    ada_custom_copy,
    ada_hours
) VALUES (
    source.id,
    source.name,
    source.locale,
    source.postal_code,
    source.timezone,
    source.city,
    source.state,
    source.state_code,
    source.country,
    source.country_code,
    source.address,
    source.longitude,
    source.latitude,
    source.upcoming_events_archtics,
    source.upcoming_events_ticketmaster,
    source.upcoming_events_total,
    source.upcoming_events_filtered,
    source.url,
    source.twitter_handle,
    source.box_office_open_hours,
    source.box_office_accepted_payment,
    source.box_office_will_call,
    source.parking_detail,
    source.accessible_seating_detail,
    source.general_rule,
    source.child_rule,
    source.ada_phones,
    source.ada_custom_copy,
    source.ada_hours
);
"""
spark.sql(query)

DataFrame[num_affected_rows: bigint, num_updated_rows: bigint, num_deleted_rows: bigint, num_inserted_rows: bigint]

# dim_classification

In [0]:
query = f"""
CREATE OR REPLACE TEMP VIEW temp_classification AS
select 
    es.id_event,
    sha2(concat(es.id_segment, es.id_sub_genre, es.id_sub_type), 256) as id, 
    s.name as segment_name,
    sg.name as sub_genre_name,
    g.name as genre_name,
    st.name as sub_type_name,
    t.name as type_name
from {env}_silver.event.event_segment es
join {env}_silver.event.segment s on es.id_segment = s.id
join {env}_silver.event.sub_genre sg on es.id_sub_genre = sg.id
join {env}_silver.event.genre g on sg.id_genre = g.id
join {env}_silver.event.sub_type st on es.id_sub_type = st.id
join {env}_silver.event.type t on st.id_type = t.id
"""
spark.sql(query)

DataFrame[]

In [0]:
query = f"""
CREATE OR REPLACE TABLE {env}_gold.entertainment.dim_classification (
    id    STRING    NOT NULL PRIMARY KEY,
    segment         STRING,
    genre           STRING,
    sub_genre       STRING,
    type            STRING,
    sub_type        STRING
);
"""
spark.sql(query)

DataFrame[]

In [0]:
query = f"""
MERGE INTO {env}_gold.entertainment.dim_classification AS target
USING (
    SELECT DISTINCT
        id    AS id,
        segment_name as segment,
        genre_name as genre,
        sub_genre_name as sub_genre,
        type_name as type,
        sub_type_name as sub_type
    FROM temp_classification

    UNION ALL

    SELECT
        "" AS id,
        "" AS segment,
        "" AS genre,
        "" AS sub_genre,
        "" AS type,
        "" AS sub_type
) AS source
ON target.id = source.id

WHEN MATCHED THEN UPDATE SET
    target.segment   = source.segment,
    target.sub_genre = source.sub_genre,
    target.genre     = source.genre,
    target.sub_type  = source.sub_type,
    target.type      = source.type

WHEN NOT MATCHED THEN INSERT (
    id,
    segment,
    genre,
    sub_genre,
    type,
    sub_type
) VALUES (
    source.id,
    source.segment,
    source.genre,
    source.sub_genre,
    source.type,
    source.sub_type
);
"""
spark.sql(query)

DataFrame[num_affected_rows: bigint, num_updated_rows: bigint, num_deleted_rows: bigint, num_inserted_rows: bigint]

# fact_events

In [0]:
query = f"""
CREATE TABLE IF NOT EXISTS {env}_gold.entertainment.fact_events (
    -- Business Keys
    id_event                STRING,
    id_classification       STRING,
    id_market               STRING,
    id_promoter             STRING,
    id_venue                STRING,
    -- Dates
    event_start_date        TIMESTAMP,
    event_end_date          TIMESTAMP,
    ticket_sales_start      TIMESTAMP,
    ticket_sales_end        TIMESTAMP,
    presales_start          TIMESTAMP,
    presales_end            TIMESTAMP,
    -- Métrics
    ticket_limit            INT,
    is_legal_age_enforced   BOOLEAN,
    currency                STRING,
    ticket_price_min        DOUBLE,
    ticket_price_max        DOUBLE,
    ticket_price_avg        DOUBLE,
    ingestion_timestamp     TIMESTAMP,
    CONSTRAINT pk_fact_events PRIMARY KEY (id_event, id_classification, id_market, id_promoter, id_venue),
    CONSTRAINT fk_fact_events_classification FOREIGN KEY (id_classification) REFERENCES {env}_gold.entertainment.dim_classification(id),
    CONSTRAINT fk_fact_events_market FOREIGN KEY (id_market) REFERENCES {env}_gold.entertainment.dim_market(id),
    CONSTRAINT fk_fact_events_promoter FOREIGN KEY (id_promoter) REFERENCES {env}_gold.entertainment.dim_promoter(id),
    CONSTRAINT fk_fact_events_venue FOREIGN KEY (id_venue) REFERENCES {env}_gold.entertainment.dim_venue(id)
);
"""
spark.sql(query)

DataFrame[]

In [0]:
query = f"""
MERGE INTO {env}_gold.entertainment.fact_events AS target
USING (
    SELECT *
    FROM (
        SELECT 
            e.id                         AS id_event,
            COALESCE(ec.id, "")         AS id_classification,
            COALESCE(em.id_market, "")                 AS id_market,
            COALESCE(ep.id_promoter, "")               AS id_promoter,
            COALESCE(ev.id_venue, "")                  AS id_venue,
            e.date_start_utc             AS event_start_date,
            e.date_end_utc               AS event_end_date,
            e.sales_start                AS ticket_sales_start,
            e.sales_end                  AS ticket_sales_end,
            e.presales_start             AS presales_start,
            e.presales_end               AS presales_end,
            e.ticket_limit               AS ticket_limit,
            e.legal_age_enforced         AS is_legal_age_enforced,
            e.price_currency             AS currency,
            e.price_min                  AS ticket_price_min,
            e.price_max                  AS ticket_price_max,
            ROUND((e.price_min + e.price_max)/2, 2) AS ticket_price_avg,
            current_timestamp()          AS ingestion_timestamp,
            ROW_NUMBER() OVER (
                PARTITION BY 
                  e.id, ec.id, em.id_market, ep.id_promoter, ev.id_venue
                ORDER BY 
                  e.date_end_utc DESC
            ) as rn
        FROM {env}_silver.event.events e
        LEFT JOIN temp_classification ec 
            ON e.id = ec.id_event
        LEFT JOIN {env}_silver.event.event_market em 
            ON e.id = em.id_event
        LEFT JOIN {env}_silver.event.event_promoter ep 
            ON e.id = ep.id_event
        LEFT JOIN {env}_silver.event.event_venue ev
            ON e.id = ev.id_event
    )
    WHERE rn = 1
) AS source
ON 
    target.id_event = source.id_event
    AND target.id_classification = source.id_classification
    AND target.id_market = source.id_market
    AND target.id_promoter = source.id_promoter
    AND target.id_venue = source.id_venue

WHEN MATCHED THEN UPDATE SET
    target.event_start_date         = source.event_start_date,
    target.event_end_date           = source.event_end_date,
    target.ticket_sales_start       = source.ticket_sales_start,
    target.ticket_sales_end         = source.ticket_sales_end,
    target.presales_start           = source.presales_start,
    target.presales_end             = source.presales_end,
    target.ticket_limit             = source.ticket_limit,
    target.is_legal_age_enforced    = source.is_legal_age_enforced,
    target.currency                 = source.currency,
    target.ticket_price_min         = source.ticket_price_min,
    target.ticket_price_max         = source.ticket_price_max,
    target.ticket_price_avg         = source.ticket_price_avg,
    target.ingestion_timestamp      = source.ingestion_timestamp

WHEN NOT MATCHED THEN INSERT (
    id_event,
    id_classification,
    id_market,
    id_promoter,
    id_venue,
    event_start_date,
    event_end_date,
    ticket_sales_start,
    ticket_sales_end,
    presales_start,
    presales_end,
    ticket_limit,
    is_legal_age_enforced,
    currency,
    ticket_price_min,
    ticket_price_max,
    ticket_price_avg,
    ingestion_timestamp
) VALUES (
    source.id_event,
    source.id_classification,
    source.id_market,
    source.id_promoter,
    source.id_venue,
    source.event_start_date,
    source.event_end_date,
    source.ticket_sales_start,
    source.ticket_sales_end,
    source.presales_start,
    source.presales_end,
    source.ticket_limit,
    source.is_legal_age_enforced,
    source.currency,
    source.ticket_price_min,
    source.ticket_price_max,
    source.ticket_price_avg,
    source.ingestion_timestamp
);
"""
spark.sql(query)

DataFrame[num_affected_rows: bigint, num_updated_rows: bigint, num_deleted_rows: bigint, num_inserted_rows: bigint]